.topbar {
  background-color: #382c96;
  overflow: hidden;
}
.topbar a {
  float: left;
  color: #ff0000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}
.topbar a:hover {
  background-color: #1e00ff;
}


.small_break {
  scale: 2vh;
}


#page_number {
  display: block;
  position: relative;
  width: 100%;
  /* padding-inline: 50vw; */
  top: 2vh;
  
  text-align: center;
  font-size: 3vh;
  font-weight: bold;
}

#book_flip {
  width: auto;
  height: auto;
  image-rendering: optimizeQuality;
}

#img_reader {
  /* max-width: 80%; */
  margin-inline: 5%;
  display:inline-flex;
  image-rendering: optimizeQuality;
}

.page {
  width: 50%;
}



html {
  height: 98vh;
}

body {
  height: 100%;
  color: white;
  font-family: Verdana;
  background-color: #190000;
}

a {
  color: #ff5c5c;
}